In [33]:
import pandas as pd

c18 = pd.read_parquet('../../data/views/Conflictology 2018.parquet')

# Convert the DataFrame to CSV
csv_file_path = '../../data/views/Conflictology_2018.csv'
c18.to_csv(csv_file_path, index=False)

print(f"CSV file saved at: {csv_file_path}")

CSV file saved at: ../../data/views/Conflictology_2018.csv

In [2]:
import pandas as pd

c18 = pd.read_parquet('../../data/views/Conflictology 2018.parquet')
c18

                          outcome
month_id country_id draw
457      1          0           0
                    1           0
                    2           0
                    3           0
                    4           0
...                           ...
468      246        7          32
                    8          33
                    9          20
                    10         32
                    11         19

[27504 rows x 1 columns]

In [4]:
# Parse the 'outcome' series
outcome_series = c18['outcome']

# Display basic information about the series
print("Series info:")
print(outcome_series.info())

# Parse the MultiIndex series
print("\nParsing the MultiIndex series:")
print("Index levels:", outcome_series.index.names)
print("Number of entries:", len(outcome_series))

# Display the first few rows with MultiIndex
print("\nFirst few rows:")
print(outcome_series.head())

# Optionally, you can reset the index to convert MultiIndex to columns
outcome_df = outcome_series.reset_index()
print("\nConverted to DataFrame:")
print(outcome_df.head())

# If you need to access specific levels of the MultiIndex
print("\nAccessing specific levels:")
print("month_id values:", outcome_series.index.get_level_values('month_id').unique())
print("country_id values:", outcome_series.index.get_level_values('country_id').unique())
print("draw values:", outcome_series.index.get_level_values('draw').unique())

# # Display the first few elements
# print("\nFirst few elements:")
# print(outcome_series.head())

# # Check for unique values
# print("\nUnique values:")
# print(outcome_series.unique())

# # Get value counts
# print("\nValue counts:")
# print(outcome_series.value_counts())

# If the series contains complex data (like lists or dicts), you might need to apply additional parsing
# For example, if it contains JSON strings:
# import json
# parsed_series = outcome_series.apply(json.loads)

# If it's a nested structure, you might want to expand it into multiple columns
# expanded_df = pd.json_normalize(outcome_series)

# Always inspect the data to determine the best approach for parsing

Series info:
<class 'pandas.core.series.Series'>
MultiIndex: 27504 entries, (457, 1, 0) to (468, 246, 11)
Series name: outcome
Non-Null Count  Dtype
--------------  -----
27504 non-null  int32
dtypes: int32(1)
memory usage: 221.4 KB
None

Parsing the MultiIndex series:
Index levels: ['month_id', 'country_id', 'draw']
Number of entries: 27504

First few rows:
month_id  country_id  draw
457       1           0       0
                      1       0
                      2       0
                      3       0
                      4       0
Name: outcome, dtype: int32

Converted to DataFrame:
   month_id  country_id  draw  outcome
0       457           1     0        0
1       457           1     1        0
2       457           1     2        0
3       457           1     3        0
4       457           1     4        0

Accessing specific levels:
month_id values: Int64Index([457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468], dtype='int64', name='month_id')
country_id values: Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            232, 233, 234, 235, 237, 242, 243, 244, 245, 246],
           dtype='int64', name='country_id', length=191)
draw values: Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64', name='draw')

In [5]:
outcome_df

       month_id  country_id  draw  outcome
0           457           1     0        0
1           457           1     1        0
2           457           1     2        0
3           457           1     3        0
4           457           1     4        0
...         ...         ...   ...      ...
27499       468         246     7       32
27500       468         246     8       33
27501       468         246     9       20
27502       468         246    10       32
27503       468         246    11       19

[27504 rows x 4 columns]

In [38]:
# Assuming outcome contains nested data
df_expanded = pd.json_normalize(c18['outcome'])
print(df_expanded.head())

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [42]:
# Example of accessing nested columns
m = c18['outcome'].apply(pd.Series)

In [50]:
m[0]

month_id  country_id  draw
457       1           0        0
                      1        0
                      2        0
                      3        0
                      4        0
                              ..
468       246         7       32
                      8       33
                      9       20
                      10      32
                      11      19
Name: 0, Length: 27504, dtype: int64

In [41]:
df_flattened = pd.json_normalize(c18)
df_flattened.to_csv('your_file.csv', index=False)

In [28]:
import pyarrow.parquet as pq

# Inspect the parquet file structure
parquet_file = pq.ParquetFile('../../data/views/Conflictology 2018.parquet')
print(parquet_file.schema)

<pyarrow._parquet.ParquetSchema object at 0x15d4f16c0>
required group field_id=-1 schema {
  optional int32 field_id=-1 outcome;
  optional int32 field_id=-1 month_id;
  optional int32 field_id=-1 country_id;
  optional int64 field_id=-1 draw;
}