In [10]:
import pandas as pd

c18 = pd.read_parquet('../../data/views/Conflictology 2018.parquet')
# Group the dataframe by country_id
grouped_c18 = c18.groupby('country_id')

# Display the first few rows of each group
for country_id, group in grouped_c18:
    print(f"\nCountry ID: {country_id}")
    print(group.head())
    print(f"Shape of group: {group.shape}")
    print("-" * 50)

# Find and display information for country 490
country_490 = grouped_c18.get_group(490)
print("\nInformation for Country ID 490:")
print(country_490.head())
print(f"Shape of group: {country_490.shape}")
print("-" * 50)

Country ID: 1
                          outcome
month_id country_id draw
457      1          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 2
                          outcome
month_id country_id draw
457      2          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 3
                          outcome
month_id country_id draw
457      3          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 4
                          outcome
month_id country_id draw
457      4          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 5
                          outcome
month_id country_id draw
457      5          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 6
                          outcome
month_id country_id draw
457      6          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 7
                          outcome
month_id country_id draw
457      7          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 8
                          outcome
month_id country_id draw
457      8          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 9
                          outcome
month_id country_id draw
457      9          0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 10
                          outcome
month_id country_id draw
457      10         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 11
                          outcome
month_id country_id draw
457      11         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 12
                          outcome
month_id country_id draw
457      12         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 13
                          outcome
month_id country_id draw
457      13         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 14
                          outcome
month_id country_id draw
457      14         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 16
                          outcome
month_id country_id draw
457      16         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 17
                          outcome
month_id country_id draw
457      17         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 18
                          outcome
month_id country_id draw
457      18         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 19
                          outcome
month_id country_id draw
457      19         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 20
                          outcome
month_id country_id draw
457      20         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 21
                          outcome
month_id country_id draw
457      21         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 22
                          outcome
month_id country_id draw
457      22         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 23
                          outcome
month_id country_id draw
457      23         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 24
                          outcome
month_id country_id draw
457      24         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 25
                          outcome
month_id country_id draw
457      25         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 26
                          outcome
month_id country_id draw
457      26         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 27
                          outcome
month_id country_id draw
457      27         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 28
                          outcome
month_id country_id draw
457      28         0           2
                    1           3
                    2           0
                    3           2
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 29
                          outcome
month_id country_id draw
457      29         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 30
                          outcome
month_id country_id draw
457      30         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 31
                          outcome
month_id country_id draw
457      31         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 32
                          outcome
month_id country_id draw
457      32         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 33
                          outcome
month_id country_id draw
457      33         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 34
                          outcome
month_id country_id draw
457      34         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 35
                          outcome
month_id country_id draw
457      35         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 36
                          outcome
month_id country_id draw
457      36         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 37
                          outcome
month_id country_id draw
457      37         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 38
                          outcome
month_id country_id draw
457      38         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 39
                          outcome
month_id country_id draw
457      39         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 40
                          outcome
month_id country_id draw
457      40         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 41
                          outcome
month_id country_id draw
457      41         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 42
                          outcome
month_id country_id draw
457      42         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 43
                          outcome
month_id country_id draw
457      43         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 45
                          outcome
month_id country_id draw
457      45         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 46
                          outcome
month_id country_id draw
457      46         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 47
                          outcome
month_id country_id draw
457      47         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 48
                          outcome
month_id country_id draw
457      48         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 49
                          outcome
month_id country_id draw
457      49         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 50
                          outcome
month_id country_id draw
457      50         0           9
                    1           2
                    2          78
                    3          15
                    4          25
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 52
                          outcome
month_id country_id draw
457      52         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 53
                          outcome
month_id country_id draw
457      53         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 54
                          outcome
month_id country_id draw
457      54         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 55
                          outcome
month_id country_id draw
457      55         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 56
                          outcome
month_id country_id draw
457      56         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 57
                          outcome
month_id country_id draw
457      57         0           0
                    1          45
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 58
                          outcome
month_id country_id draw
457      58         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 60
                          outcome
month_id country_id draw
457      60         0         755
                    1         796
                    2         854
                    3         716
                    4        1619
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 62
                          outcome
month_id country_id draw
457      62         0           0
                    1          19
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 63
                          outcome
month_id country_id draw
457      63         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 64
                          outcome
month_id country_id draw
457      64         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 65
                          outcome
month_id country_id draw
457      65         0           1
                    1          15
                    2          15
                    3           0
                    4           1
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 66
                          outcome
month_id country_id draw
457      66         0           0
                    1           0
                    2           0
                    3           0
                    4           0
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 67
                          outcome
month_id country_id draw
457      67         0           0
                    1           0
                    2           2
                    3          24
                    4           8
Shape of group: (144, 1)
--------------------------------------------------

Country ID: 69
                          outcome
month_id country_id draw

AttributeError: 'DataFrame' object has no attribute 'get_group'